<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Clock-App</title>
  <script src="/requester.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  
    <h1>Hora del cliente</h1>
    <div class="grid-clock" id="deviceHour"></div>
    <h1>Hora del servidor</h1>
    <div class="grid-clock" id="serverHour"></div>
  </div>
</body>

</html>
